.slide-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.arrow{
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.slide-wrapper{
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    
}
.slide-slide{
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    background-color: indianred;
}
.slide-img{
    height: 100%;
    flex: 1;
}
.slide-img img{
    height: 100%;
    width: 750px;
    background-size: cover;
}
.slide-imginfo{
    flex: 1;
    padding: 50px;
    background-color: indianred;
}
.slide-imginfo h1{
    font-size: 70px;
}
.slide-imginfo p{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.slide-imginfo button{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}